doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../layouts/UserAccountStyle.css')
  title Account
h1#currUser !{name}
div2
button#logout(type='button') Logout
input#usertype(type='checkbox' checked = someUser.contributing)
| Contributing User
div1#breakline
script#script(src='../content/userFunctionality.js' onload='init()' defer='')
#recommended
  h2 Recommended Movies
  ul
  if(someUser.recommendedMovies.length > 0)
    for movies of someUser.recommendedMovies
      a(href="#", onclick ='javascript:findMovie(this)' name = movies)#link !{movies}

#usersfollowing
  h2 Users Followed
  ul
  if(someUser.followingUsers.length > 0)
    for users of someUser.followingUsers
      li: a(href="#", onclick ='javascript:findUsers(this)' name = users)#link !{users}
#resentreviews
  h2 Recent Reviews
  ul
  for names of Object.keys(someUser.reviews)
    a(href="#", onclick ='javascript:findMovie(this)' name = names)#link !{names}
    ul
      li Score: !{someUser.reviews[names].score}
      li Review: !{someUser.reviews[names].review}
      li Summary: !{someUser.reviews[names].summary}
#peoplefollowing
  h2 People Followed
  ul
  if(someUser.followingPeople.length > 0)
    for people of someUser.followingPeople
      li: a(href="#", onclick ='javascript:findPerson(this)', name = people)#link !{people}
button#stopfollowing(type='button') Stop Following
div1#buttonBreakLine
p
  a#backToSearch(href='http://localhost:3000/') Back to Search
