doctype html
- var countCollabs = 0
- var works = 0
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='../layouts/PeoplePageStyle.css')
  title !{personsName}
script(src = "../content/ViewPeopleFunctionality.js", id="script",onload="init()",defer)
header
  h1#personsName !{personsName}
  input#follow(type='checkbox')
  | Follow
linebreak#forheader
button#logIn(type='button') Login/Sign Up
h3#role !{personsProfession}
linebreak#forrole
#container
  ul#recentWork
    h2 Recent Work
    for keys of allWorks
      if(works < 10)
        li: a(href="#", onclick ='javascript:findMovie(this)' name = keys) !{keys}
      - works++
  ul#frequentCollabs
    h2 Frequent Collaboration
    for keys of collaberations
      if(countCollabs < 10)
        li: a(href="#", onclick ='javascript:findPerson(this)' name = keys) !{keys}
      - countCollabs++
p
  a#backToSearch(href='http://localhost:3000/') Back to Search
