html(lang = 'en')
  head
    meta(charset = "UTF-8")
    style(type = "text/css"): include ../layouts/ViewingMoviesStyle.css
    Title#title !{someMovie.Title}
  body
    html(lang = 'en')
    script(src = "../content/ViewMovieFunctionality.js", id="script",onload="init()",defer)
    #row1
      #container1
        poster
          img(src= someMovie.Poster alt ="well the image isn't loading")
        rating
          if(someMovie.Ratings)
            for ratings of someMovie.Ratings
              li !{ratings.Source}: !{ratings.Value}
            br
        input(type="submit",id="addPerson", value="Add Person")
      #container2
        movieTitle
          | !{someMovie.Title}
        releaseYear
          | !{someMovie.Released}
        runTime
          |Runtime:
          | !{someMovie.Runtime}
        genre
          |<strong>Genre:</strong>
          if(someMovie.Genre)
            for genres of someMovie.Genre.split(",")
              li: a(href="#", onclick ='javascript:findGenre(this)' name = genres) !{genres}
        director
          |<strong>Director:</strong>
          for directors of someMovie.Director.split(",")
            li: a(href="#", onclick ='javascript:findPerson(this)' name = directors) !{directors}
        writers
          |<strong>Writers:</strong>
          for writers of someMovie.Writer.split(",")
            li: a(href="#", onclick ='javascript:findPerson(this)' name = writers) !{writers}
        actors
          |<strong>Actors:</strong>
          for actors of someMovie.Actors.split(",")
            li: a(href="#", onclick ='javascript:findPerson(this)' name = actors) !{actors}
      #breakContainer
        |
      #container3
        input(type="submit",id="logIn", value="Log in/Sign up")
        summary
          |<strong>Summary:</strong>
          br
          |!{someMovie.Plot}
        p#someHeader <strong>You may also like:</strong>
        similarMovies
    #row2
      input(type="submit",id="addReview", value="Add Review Button")
    #row3
    .reviews
      for key of Object.keys(someMovie.review)
        ul.firstList
          li: a(href="#", onclick ='findUser(this)' name = key) !{key}
          ul.secondList
            li <u><b>Score</b></u>: !{someMovie.review[key].score}
            li <u><b>Summary</b></u>: !{someMovie.review[key].summary}
            li <u><b>Review</b></u>: !{someMovie.review[key].review}
    #row4
      p <a id="backToSearch" href="http://localhost:3000/">Back to Search</a>
